<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kayıt</title>
</head>
    <body>  
        <h2>hoşgeldiniz</h2>
        <h2>teacher register</h2>
        <form action = "/teacher_register" method = "post">
        teacher name: <input type="string" name ="teacher_name"> <br>
        teacher surname: <input type="string" name ="teacher_surname"> <br>
        teacher title: <input type="string" name = "teacher_title"> <br>
        teacher phone: <input type="int" name = "teacher_phone"><br>
        teacher branch: <input type="string" name = "teacher_branch"> <br>
        <button type="submit"> gönder </button>
    </form>

        <h2>teacher update</h2>
        <form action = "/teacher_update" method = "post">
            teacher name: <input type="string" name ="teacher_name"> <br>
            teacher id: <input type="string" name ="teacher_id"> <br>
            <button type="submit"> update </button>
        </form>

        <h2>teacher delete</h2>
            <form action = "/teacher_delete" method = "post">
            id: <input type="int" name ="teacher_id"> <br>
            <button type="submit"> delete </button><br>
    </form>
        <h2>student register</h2>   
        <form action = "/student_register" method = "post">
        student name: <input type="string" name ="student_name"> <br>
        student surname: <input type="string" name ="student_surname"> <br>
        student phone: <input type="int" name = "student_phone"><br>
        student class: <input type="string" name = "student_class"> <br>
        student mail: <input type="string" name = "student_mail"> <br>
        student birtday: <input type="string" name = "student_birtday"> <br>
        student episode: <input type="string" name = "student_episode"> <br>
            <button type="submit"> gönder </button>
    </form>

        <h2>student update</h2>     
        <form action = "/student_update" method = "post">
            student name: <input type="string" name ="student_name"> <br>
            student id: <input type="string" name ="student_id"> <br>
            
            <button type="submit"> update </button>
    </form>

        <h2>student delete</h2>
        <form action = "/student_delete" method = "post">
            student id: <input type="int" name ="student_id"> <br>
            <button type="submit"> delete </button>
    </form>    
     
    </body>
</html>