<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student</title>
</head>
<body>
    <form action = "/studentreply" method = "post">
        student name: <input type="string" name ="student_name"> <br>
        student surname: <input type="string" name ="student_surname"> <br>
        student phone: <input type="int" name = "student_phone"><br>
        student class: <input type="string" name = "student_class"> <br>
        student mail: <input type="string" name = "student_mail"> <br>
        student birtday: <input type="string" name = "student_birtday"> <br>
        student episode: <input type="string" name = "student_episode"> <br>
        <button type="submit"> gönder </button>
    </form>         
</body>
</html>