<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sql_reply</title>
</head>
<body>
    <p>işlem başarılı<p>
  teacher register 

    {% comment %} {% if total }
    <p> register başarı ile {{total}} gerçekleşmiştir</p>
    {% else %}
    <p>total değer yok </p>
    {% endif %}

 

    {% if total  %}
    <p>update başarı ile{{total}}  gerçekleşmiştir</p>
    {% else %}
    <p>total değer yok </p>
    {% endif %}

 teacher delete 

    {% if total %}
    <p>update başarı ile{{total}}  gerçekleşmiştir</p>
    {% else %}
    <p>total değer yok </p>
    {% endif %}    
    
 student register 


    {% if total %}
    <p> update başarı {{total}}ile gerçekleşmiştir</p>
    {% else %}
    <p>total değer yok </p>
    {% endif %}

 student update 

    {% if total %}
    <p> update başarı ile {{total}}gerçekleşmiştir</p>
    {% else %}
    <p>total değer yok </p>
    {% endif %}

 student delete 

    {% if total %}
    <p> update başarı ile{{total}} gerçekleşmiştir</p>
    {% else %}
    <p>total değer yok </p>
    {% endif %}   {% endcomment %}

</body>
</html>